# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

trigger:
- main
- refs/tags/*

pr:
- main

pool:
  vmImage: 'windows-latest'

variables:
  solution: 'SchildTeamsManager.sln'
  buildConfiguration: 'Release'
  buildPlatform: 'x64'

stages:
- stage: build
  displayName: Build
  jobs:
  - job: Build
    steps:
    - checkout: self
      submodules: true

    - task: CmdLine@2
      displayName: Install gotnet-project-licenses
      inputs:
        script: dotnet tool install --global dotnet-project-licenses --version 2.0.0

    - task: NuGetToolInstaller@1
      displayName: Install nuget.exe

    - task: CmdLine@2
      displayName: 'dotnet publish'
      inputs:
        script: dotnet publish $(solution) -c $(buildConfiguration) -a $(buildPlatform) -o publish --sc

    - task: ArchiveFiles@2
      inputs:
        rootFolderOrFile: publish
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: schild-teams-manager.zip
        replaceExistingArchive: true

    - task: PublishPipelineArtifact@1
      displayName: Publish files to artifacts
      inputs:
        targetPath: schild-teams-manager.zip
        artifactName: schild-teams-manager.zip

- stage: publish
  displayName: Publish
  dependsOn:
  - build
  condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
  jobs:
  - job: GitHub
    steps:
    - task: DownloadPipelineArtifact@2
      displayName: Download artifacts

    - task: GitHubRelease@0
      displayName: Release to GitHub
      inputs:
        gitHubConnection: 'GitHub.com'
        repositoryName: schulit/schild-teams-manager
        assets: |
          schild-teams-manager.zip
      
